{% include 'Profile/profile_vehicles.html.twig' %}

<div class="modal fade" id="addVehicle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Pridėti naują automobilį</h5>
                <a  href="{{ path('user_vehicles') }}" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            {% if vehicles.count >= 5 %}
                <div class="modal-body">
                    <span><strong>Jau užregistruotas maksimalus automobilių skaičius.</strong></span>
                </div>
            {% else %}
                <div class="modal-body">
                    {{ form_start(form) }}
                    {{ form_row(form.make) }}
                    {{ form_row(form.model) }}
                    {{ form_row(form.year_of_production) }}
                    {{ form_row(form.plate_number) }}
                </div>
                <div class="modal-footer">
                    {{ form_row(form.submit) }}
                    {{ form_end(form) }}
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% block additonal_scripts %}
    <script>
        showModal('addVehicle');
    </script>
{% endblock %}