{% extends 'base.html.twig' %}

{% block title %}Naujas Slaptažodis{% endblock %}

{% block content %}
    <div class="login-box justify-content-center">
        <h1 class="page-header">Naujas slaptažodis</h1>
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_label(form.newPassword.first, null, {'label': 'Slaptažodis:'}) }}
            {{ form_widget(form.newPassword.first, {'attr': {'class': 'textField'}} ) }}
            {{ form_row(form.newPassword.second, {'attr': {'class': 'textField'}, 'label': 'Pakartoti slaptažodį:'} ) }}
            {{ form_row(form.submit, {'attr': {'class': 'button'}, 'label': 'Keisti'} ) }}
            {{ form_row(form._token) }}
            {{ form_end(form) }}
    </div>
{% endblock %}