{% include 'Profile/Vehicles/profile_vehicles.html.twig' %}

{% block title %}Huh?{% endblock %}

<div class="modal fade" id="deleteVehicle" tabindex="-1" role="dialog" aria-labelledby="deleteVehicleLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content custom-modal">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteVehicleLabel">Ištrinti automobilį?</h5>
                <a  href="{{ path('user_vehicles') }}" class="close" aria-label="Close">
                    <i class="fas fa-times fa-sm"></i>
                </a>
            </div>
            <div class="modal-body">
                <table class="table table-fixed vehicle-delete-modal-table">
                    <tbody>
                    <tr>
                        <th>Modelis</th>
                        <td>{{ vehicle.model }}</td>
                    </tr>
                    <tr>
                        <th>Markė</th>
                        <td>{{ vehicle.make }}</td>
                    </tr>
                    <tr>
                        <th>Pagaminimo metai</th>
                        <td>{{ vehicle.yearOfProduction }}</td>
                    </tr>
                    <tr>
                        <th>Numeriai</th>
                        <td>{{ vehicle.plateNumber }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                {{ include('Profile/Vehicles/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</div>

{% block additonal_scripts %}
    <script>
        showModal('deleteVehicle');
    </script>
{% endblock %}

