{% extends 'Profile/base.html.twig' %}

{% block tab_bar %}
    {% include 'Profile/tab_bar.html.twig' with {
        vehicles_active: 'true'
    }%}
{% endblock %}
{% block tab_content %}
    <div>
    <div class="tab-pane active" id="vehicles">
        {% if vehicles.count > 0 %}
            <table class="table">
                <tr class="table-fixed">
                    <th>Modelis</th>
                    <th>Marke</th>
                    <th>Metai</th>
                    <th>Numeriai</th>
                    <th>Actions</th>
                </tr>
                {% for vehicle in vehicles %}
                    <tr class="table-fixed">
                        <td>{{ vehicle.model }}</td>
                        <td>{{ vehicle.make }}</td>
                        <td>{{ vehicle.yearOfProduction }}</td>
                        <td>{{ vehicle.plateNumber }}</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn custom-button dropdown-toggle" type="button" id="vehicleActionDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="vehicleActionDropdown">
                                    <a class="dropdown-item" href="{{ path('edit_vehicle', {('id'):vehicle.id }) }}">Edit</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('show_vehicle', {('id'):vehicle.id}) }}">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <span>
                <strong>
                    You currently have no vehicles registered,
                    use the button below to add a new vehicle.
                </strong>
            </span><br>
        {% endif %}
        <a class="btn custom-button" href="{{ path('add_vehicle') }}">Add new vehicle</a>
    </div>
{% endblock %}