{% extends 'Profile/base.html.twig' %}

{% block tab_bar %}
    {% include 'Profile/tab_bar.html.twig' with {
        vehicles_active: 'true'
    }%}
{% endblock %}
{% block tab_content %}
    <div>
    <div class="tab-pane" id="vehicles">
        {% if vehicles.count > 0 %}
            <div class="list-group vehicles-list">
                {% for vehicle in vehicles %}
                    <div class="list-group-item">
                        <div class="d-flex w-100 justify-content-between">
                            <div class="mb-1">Automobilis: {{ vehicle.make }} {{ vehicle.model }} - {{ vehicle.yearOfProduction }}</div>
                        </div>
                        <p class="mb-1">
                            Numeriai: {{ vehicle.plateNumber }}<br>
                            <div class="dropdown">
                                <button class="w-100 btn custom-button dropdown-toggle" type="button" id="vehicleActionDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Modifikuoti
                                </button>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-custom w-100" aria-labelledby="vehicleActionDropdown">
                                    <a class="dropdown-item" href="{{ path('edit_vehicle', {('id'):vehicle.id }) }}">Keisti</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('show_vehicle', {('id'):vehicle.id}) }}">Ištrinti</a>
                                </div>
                            </div>
                        </p>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div style="padding-bottom: 10px">
                <strong>
                    Šiuo metu neturite priregistruotų automobilių.
                    Naudokitės žemiau esančiu mygtuku, norėdami
                    priregistruoti naują automobilį.
                </strong>
            </div>
            <br>
        {% endif %}
        <a class="btn custom-button" href="{{ path('add_vehicle') }}">Pridėti naują automobilį</a>
    </div>
{% endblock %}