{% if services.count > 0%}
    {{ form_start(form) }}
    {{ form_errors(form.key) }}
    <div class="form-inline">
        {{ form_widget(form.key, {'attr': {'class': 'textField search-input', 'placeholder': 'Ieškoti paslaugų'}} ) }}
        {{ form_widget(form.submit, {'attr': {'class': 'btn search-button fa fa-search'}, 'label': ' '}) }}
    </div>
    {{ form_end(form) }}
    <div class="list-group services-list">
        {% for service in services %}
            <div class="list-group-item">
                <div class="service-name">
                    {{ service.name }}
                </div>
                <hr>
                <p class="mb-1">
                    {{ service.description }}
                </p>
                <hr>
                {{ service.price }} €
            </div>
        {% endfor %}
    </div>
    {% include 'Util/pagination.html.twig' with {
        pageOffset: 2
    }%}
    {% else %}
        <div>
            <strong>
                Šiuo metu neteikiame jokių paslaugų.
            </strong>
        </div>
{% endif %}