{% extends 'Admin/base.html.twig' %}

{% block panels %}
    {% include 'Admin/admin_panels.html.twig' with {
        users_active: 'true'
    }%}
{% endblock %}

{% block panel_content %}
    <h5 class="text-left m-3">{{ userCount }} Registruoti vartojojai</h5>
    <table class="table">
        <tr class="table-fixed">
            <th>ID</th>
            <th>El-Paštas</th>
            <th>Vardas</th>
            <th>Telefonas</th>
            <th>Miestas</th>
            <th>Adresas</th>
            <th>Paskyros blokavimas</th>
        </tr>

        {% for user in users %}
            <tr class="table-fixed">
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.firstName ~ ' ' ~ user.lastName }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.address }}</td>
                <td>
                    {% if 'ROLE_USER' in user.roles %}
                        {% if user.isEnabled is same as(true) %}
                            <a href="{{ path('user_ban', {id: user.id}) }}"><button type="button" class="btn btn-warning">Blokuoti</button></a>
                        {% else %}
                            <a href="{{ path('user_unban', {id: user.id}) }}"><button type="button" class="btn btn-warning">Atblokuoti</button></a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {# pageOffset - number of page buttons to display on either side of
       currently active one.
    #}
    {% include 'Util/pagination.html.twig' with {
    pageOffset: 2,
    previousPageLabel: "Previous",
    nextPageLabel: "Next"
    } %}
{% endblock %}