{% set home_label = "Home" %}
{% set users_label = "Vartotojai" %}
{% set services_label = "Servisai" %}
<ul class="nav nav-tabs tab-bar">
    <li class="nav-item">
        {% if home_active is defined %}
            <span class="nav-link active">Home</span>
        {% else %}
            <a class="nav-link" href="{{ path('admin_home') }}">{{ home_label }}</a>
        {% endif %}
    </li>
    <li class="nav-item">
        {% if users_active is defined %}
            <span class="nav-link active">Vartotojai</span>
        {% else %}
            <a class="nav-link" href="{{ path('admin_users') }}">{{ users_label }}</a>
        {% endif %}
    </li>
    <li class="nav-item">
        {% if services_active is defined %}
            <span class="nav-link active">Servisai</span>
        {% else %}
            <a class="nav-link" href="{{ path('admin_services') }}">{{ services_label }}</a>
        {% endif %}
    </li>
</ul>