{% extends 'Profile/base.html.twig' %}

{% block tab_bar %}
    {% include 'Profile/tab_bar.html.twig' with {
        changepassword_active: 'true'
    }%}
{% endblock %}

{% block tab_content %}
    {{ form_start(form) }}
    {{ form_errors(form.oldPassword.first) }}
    {{ form_label(form.oldPassword.first, null, {'label': 'Senas slaptažodis*'}) }}
    {{ form_widget(form.oldPassword.first, {'attr': {'class': 'textField'}} ) }}
    {{ form_row(form.oldPassword.second, {'attr': {'class': 'textField'}, 'label': 'Pakartoti slaptažodį*'} ) }}
    {{ form_errors(form.newPassword.first) }}
    {{ form_label(form.newPassword.first, null, {'label': 'Naujas slaptažodis*'}) }}
    {{ form_widget(form.newPassword.first, {'attr': {'class': 'textField'}} ) }}
    {{ form_row(form.newPassword.second, {'attr': {'class': 'textField'}, 'label': 'Pakartoti slaptažodį*'} ) }}
    {{ form_row(form.submit, {'attr': {'class': 'button'}, 'label': 'Patvirtinti pakeitimus'} ) }}
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
    <p>* žvaigždute pažymėti laukai yra būtini</p>
{% endblock %}