<div class="modal-body">
    {{ form_start(form) }}
    {{ form_row(form.make) }}
    {{ form_row(form.model) }}
    {{ form_row(form.year_of_production) }}
    {{ form_row(form.plate_number) }}
</div>
<div class="modal-footer">
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
</div>