<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        {# Bootstrap CSS #}
        <link rel="stylesheet" href="{{ asset('build/css/bootstrap.css') }}">
        {# Custom styles #}
        <link rel="stylesheet" href="{{ asset('build/css/main.css') }}">
        {# At the moment, bootstrap javascript #}
        <script src="{{ asset("build/js/app.js") }}"></script>

        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body>
    <header>
        {% block header %}
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <div class="nav-item">
                                                            {# Should not look like this. #}
                    <a class="navbar-left" href="/"><img src="build/images/logo.532e8b6f.png" alt="" /></a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"/>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Namai<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/services">Paslaugos</a>
                        </li>
                        {# Seen by unauthenticated users #}
                        {% if not app.user %}
                            <li class="nav-item">
                              <a class="nav-link" href="{{ path('user_registration') }}">Registruotis</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="{{ path('login') }}">Prisijungti</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Atsijungti</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        {% endblock %}
    </header>

    <div class="container">
        {% block content %}
            {# Seen by unauthenticated users #}
            {% if not app.user %}
                <h1>Hello, world</h1>
            {# Seen by authenticated users #}
            {% else %}
                <h1>Hello, {{ app.user.emailname }}</h1>
            {% endif %}
        {% endblock %}
    </div>

    <footer>
        {% block footer %}
        {% endblock %}
    </footer>

    </body>
</html>
