{% extends 'base.html.twig' %}

{% block title %}Namai{% endblock %}

{% set home_active = 'true' %}

{% block content %}

    <header>
        <div id="carouselExampleIndicators" class="carousel slide carousel-bordered" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image: url({{ asset('build/images/oilChange.4b6cb467.jpg') }})">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Alyvos keitimas</h3>
                        <p>Keičiant alyvą naudojame geriausius produktus, kad automobilis tarnautų ilgiau.</p>
                    </div>
                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url({{ asset('build/images/engineRepair.1f2e2b65.jpg') }})">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Variklio remontas</h3>
                        <p>Mūsų specialistai atliks variklio diagnostiką ir pašalins rastus gedimus.</p>
                    </div>
                </div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url({{ asset('build/images/carCheck.c447ddb4.jpg') }})">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Gedimų tikrinimas</h3>
                        <p>Jūsų automobiliui atliksime nuodugnią apžiūrą ir nustatysime galimus gedimus.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>
    <div class="custom-splitter">
            <h1 class="page-header text-middle">Kompanijos veikla</h1>
    </div>

    <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{{ asset('build/images/tireChange.524556fa.jpg') }}" alt=""></a>
                <div class="card-body">
                    <h3 class="card-title">
                        Ratų montavimas
                    </h3>
                    <p class="card-text">Metai iš metų nuolatiniai klientai užsuka į mūsų servisą pasiruošti naujam sezonui</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{{ asset('build/images/engine.4d7ea655.jpg') }}" alt=""></a>
                <div class="card-body">
                    <h3 class="card-title">
                        Variklio remontas
                    </h3>
                    <p class="card-text">Variklio remonto darbus atliekame patikimai ir kruopščiai. Dėl turimos geriausios diagnostinės įrangos gedimus nustatome greitai.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{{ asset('build/images/check.69aec21a.jpg') }}" alt=""></a>
                <div class="card-body">
                    <h3 class="card-title">
                        Mašinos paruošimas
                    </h3>
                    <p class="card-text">Mūsų specialistai sutvarkys jūsų automobilį ir paruoš jį eksploatavimui arba techninei apžiūrai.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
{% endblock %}