{% extends 'base.html.twig' %}

{% block title %}Registracija{% endblock %}

{% block content %}
    <h2 class="page-header">Registracija</h2>
    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.submit) }}
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}