{% if order is defined %}
    {% set progressPercentage = (order.progress.numberOfServicesCompleted * 100) / order.services.count%}
    <a class="list-group-item" href="{{ path('ongoing_order_show', {"id": order.id}) }}">
        {% if order in app.user.watchedOrders %}
            <h3>
                BEING WATCHED
            </h3>
        {% endif %}
        <div class="d-flex w-100 justify-content-between">
            <h6>Order #{{ order.id }}</h6>
            <h6>{{ order.visitDate|date('Y/m/d') }}</h6>
        </div>
        <h6>
            {% include 'Util/order_status.html.twig' with {
                order_status: order.status
            } %}
        </h6>
        <hr>
        <h6 class="mb-1">User: {{ order.user.firstName }} {{ order.user.lastName }}</h6>
        <h6>Vehicle: {{ order.vehicle.make }} {{ order.vehicle.model }}</h6>
        <hr>
        <p class="mb-1">
        <h6>Services ordered: {{ order.services.count }}</h6>
        </p>
        <h6>${{ order.cost }}</h6>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="background: #b07156; width: {{ progressPercentage }}%;"></div>
            <small class="align-self-center justify-content-center d-flex position-absolute" style="width: 95%; font-size: 14px; color:black">{{ order.progress.numberOfServicesCompleted }} / {{ order.services.count }}</small>
        </div>
    </a>
{% endif %}