{% extends 'Profile/base.html.twig' %}

{% block tab_bar %}
    {% include 'Profile/tab_bar.html.twig' with {
        orders_active: 'true'
    }%}
{% endblock %}

{% block tab_content %}
    <div class="tab-pane" id="orders">
        {% if orders.count > 0 %}
            <div class="list-group">
                {% for order in orders %}
                    {% set progressPercentage = (order.progress.numberOfServicesCompleted * 100) / order.services.count%}
                    <a class="list-group-item" href="{{ path('user_order_show', {'id': order.id}) }}">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">User: {{ order.user.firstName }} {{ order.user.lastName }}</h5>
                            <h6>{{ order.visitDate|date('Y/m/d') }}</h6>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <h5>Vehicle: {{ order.vehicle.make }} {{ order.vehicle.model }}</h5>
                            {% if order.progress.isDone %}
                                <h6>Completion date: {{ order.progress.completionDate|date('Y/m/d') }}</h6>
                            {% endif %}
                        </div>
                        <p class="mb-1">
                        <h4>Services ordered: {{ order.services.count }}</h4>
                        </p>
                        <h6>${{ order.cost }}</h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="background: #b07156; width: {{ progressPercentage }}%;"></div>
                            <small class="align-self-center justify-content-center d-flex position-absolute" style="width: 95%; font-size: 14px; color:black">{{ order.progress.numberOfServicesCompleted }} / {{ order.services.count }}</small>
                        </div>
                    </a>
                {% endfor %}
            </div>
            {% include 'Util/pagination.html.twig' with{
                pageOffset: 2
            }%}
        {% else %}
            <h1>Currently there are no ongoing orders.</h1>
        {% endif %}
    </div>
{% endblock %}