{% spaceless %}
<div>
    <p>
        Užsakymo #{{ order.id }}, automobilio: {{ order.vehicle.plateNumber }} {{ order.vehicle.make }} {{ order.vehicle.model }} servisas jau baigtas.
    </p>
    <p>
        Savo automobilį galite atsiimti darbo dienomis @[to be determined adresas].
    </p>
    <p> Suteiktų paslaugų kaina: ${{ order.cost }} </p>
</div>
{% endspaceless %}